parameters:
    level: 9

    paths:
        - docs/examples
        - src
        - tests

    excludePaths:
        - vendor
        - docs/examples

    ignoreErrors:
        - identifier: missingType.generics

        - identifier: trait.unused

        - identifier: function.alreadyNarrowedType
          path: src/Traits

        - identifier: function.impossibleType
          path: src/Traits

        - identifier: missingType.iterableValue
          path: tests
